body {
    background: cornsilk;
}

table.table-bordered {
    border: 1px solid slategray;
}

table.table-bordered>thead>tr>th {
    border: 1px solid slategray;
}

table.table-bordered>tbody>tr>td {
    border: 1px solid slategray;
}

td.sentiment {
    text-align: center;
    vertical-align: middle;
}

.index-panel {
    border-radius: 5px;
}

.title-panel {
    background: #c3d9ff;
}

.navbar {
    background: steelblue;
    border-radius: 5px;
}

.jumbotron {
    background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
    margin: 0;
}

.blockquote-footer {
    color: dimgray;
}

#my-form {
    background: steelblue;
    border-radius: 5px;
    margin-top: 0.1rem;
    padding: 1rem;
}

#sentiment-box {
    background: steelblue;
}