body {
    background: white;
}

td.sentiment {
    text-align: center;
    vertical-align: middle;
}

.index-panel {
    border-radius: 5px;
}

#sentiment-box {
    background: linear-gradient(to bottom, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
}

#stats-box {
    background: linear-gradient(to bottom, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%);
}

.navbar {
    background: steelblue;
    border-radius: 5px;
}

.jumbotron {
    background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
    margin: 0;
}

.blockquote-footer {
    color: dimgray;
}

#sentiment-form {
    background-color: steelblue;
    border-radius: 5px;
    margin-top: 0;
    padding: 1rem;
}