{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">The Word As Power</h1>
    <blockquote class="blockquote">
        <p class="mb-0">The limits of my language mean the limits of my world.</p>
        <footer class="blockquote-footer">Ludwig Wittgenstein</footer>
    </blockquote>
    <hr class="my-2">
    <p>Enter your query and get most popular tweets with their positivity sentiment.<br>
        Created with the help of <a href="https://www.nltk.org/_modules/nltk/sentiment/vader.html">Vader</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center pt-3 index-panel" id="sentiment-box">
            <a href="" class="btn btn-primary">Twitter Sentiment Analysis</a>
            <p class="">Enter a query and find out which </p>
        </div>
        <div class="col text-center pt-3 index-panel" id="stats-box">
            <a href="" class="btn btn-primary">Text Statistics</a>
            <p>Get text statistics</p>
        </div>
    </div>
    {% endblock %}
    {% block javascript %}
    {% endblock %}