{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">The Word As Power</h1>
    <blockquote class="blockquote">
        <p class="mb-0">I know words. I have the best words!</p>
        <footer class="blockquote-footer">Donald Trump</footer>
    </blockquote>
    <hr class="my-2">
    <p>Enter your query and get most popular tweets with their positivity sentiment.<br>
        Created with the help of <a href="https://www.nltk.org/_modules/nltk/sentiment/vader.html">Vader</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center py-3 index-panel" id="sentiment-box">
            <a href="{% url 'sentiment' %}" class="btn btn-primary btn-lg">Twitter Sentiment Analysis</a>
        </div>
        <div class="col text-center py-3 index-panel" id="stats-box">
            <a href="{% url 'statistics' %}" class="btn btn-primary btn-lg">Text Statistics</a>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}