{% extends 'base.html' %}

{% block title %}Twitter Sentiment Analysis{% endblock %}

{% block content %}
<div class="container">
    <div class="row py-1 my-0 justify-content-center title-panel">
        <h3 class="pt-2">
            Twitter Sentiment Analysis
        </h3>
    </div>

<div class="row my-0 justify-content-center" id="my-form">
    <form method="post" class="form-inline">
        {% csrf_token %}
        <div class="input-group mb-2 mr-sm-2">
            {{ form.non_field_errors }}
            {{ form.query.errors }}
            {{ form.query }}
        </div>
        <div class="input-group mb-2 mr-sm-2">
            {{ form.non_field_errors }}
            {{ form.num_of_tweets.errors }}
            <div class="input-group-prepend">
                <div class="input-group-text">How many tweets?</div>
            </div>
            {{ form.num_of_tweets }}
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <button type="submit" class="btn btn-success">Go!</button>
        </div>
    </form>
</div>
</div>
{% endblock %}